[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "paleoAM"]
	path = paleoAM
	url = https://github.com/dwbapst/paleoam
[submodule "paleotree"]
	path = paleotree
	url = https://github.com/dwbapst/paleotree
